In [1]:
#import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#create path
path=r'C:\Users\37mhu\Documents\Instacart Basket Analysis'

In [3]:
#import customer data
customer=pd.read_csv(os.path.join(path,'02 Data','Original Data','customers.csv'))

In [4]:
#4 update customer df
customer.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
customer=customer.drop(columns=['First Name','Surnam'])

In [6]:
customer.rename(columns={'n_dependants':'dependants'},inplace=True)

In [7]:
#5 check & clean customer df 
customer.describe()

             user_id            Age     dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [8]:
customer.isnull().sum()

user_id        0
Gender         0
STATE          0
Age            0
date_joined    0
dependants     0
fam_status     0
income         0
dtype: int64

In [9]:
cust_dup=customer[customer.duplicated()]

In [10]:
cust_dup

Empty DataFrame
Columns: [user_id, Gender, STATE, Age, date_joined, dependants, fam_status, income]
Index: []

In [11]:
#6 combine customer df with ords_prods df
ords_prods=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merge_updated_flags.pkl'))

In [12]:
ords_prods.columns

Index(['Unnamed: 0.1', 'Unnamed: 0_x', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'hour_order_placed', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge',
       'Unnamed: 0_y', 'product_name', 'aisle_id', 'department_id', 'prices',
       'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'avg_spend',
       'spend_flag', 'order_frequency', 'frequency_flag'],
      dtype='object')

In [13]:
customer.shape

(206209, 8)

In [14]:
ords_prods.shape

(32436241, 27)

In [15]:
custs_ords_prods=customer.merge(ords_prods,on='user_id')

In [16]:
custs_ords_prods.shape

(32436241, 34)

In [17]:
custs_ords_prods.columns

Index(['user_id', 'Gender', 'STATE', 'Age', 'date_joined', 'dependants',
       'fam_status', 'income', 'Unnamed: 0.1', 'Unnamed: 0_x', 'order_id',
       'order_number', 'orders_day_of_week', 'hour_order_placed',
       'days_since_prior_order', 'product_id', 'add_to_cart_order',
       'reordered', '_merge', 'Unnamed: 0_y', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'avg_spend', 'spend_flag', 'order_frequency', 'frequency_flag'],
      dtype='object')

In [18]:
#8 export df to pickle
custs_ords_prods.to_pickle(os.path.join(path,'02 Data','Prepared Data','custs_ords_prods.pkl'))