In [3]:
#import libraries
import pandas as pd
import numpy as np
import os

In [5]:
#create path
path=r'C:\Users\37mhu\Documents\Instacart Basket Analysis'

In [7]:
#import ords_prods_merge df
ords_prods_merge=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merge_updated.pkl'))

In [9]:
#2
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457687
2.0              17.277920
3.0              17.179756
4.0              17.811403
5.0              15.213779
6.0              16.439806
7.0              17.225773
8.0              15.340520
9.0              15.895474
10.0             20.197148
11.0             16.170828
12.0             15.887622
13.0             16.583304
14.0             16.757377
15.0             16.165037
16.0             17.663250
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

#3 The means for each department are slightly different than the means given for the dataframe subset, but the order in which each department appears from highest to lowest mean didn't change.

In [12]:
#4
ords_prods_merge['max_order']=ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\37mhu\AppData\Local\Temp\ipykernel_21680\1536726042.py:2: FutureWarning: The provided callable <function max at 0x00000206BFC787C0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order']=ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [14]:
ords_prods_merge.loc[ords_prods_merge['max_order']>40,'loyalty_flag']='loyal customer'

In [15]:
ords_prods_merge.loc[(ords_prods_merge['max_order']<=40)&(ords_prods_merge['max_order']>10),'loyalty_flag']='regular customer'

In [18]:
ords_prods_merge.loc[ords_prods_merge['max_order']<=10,'loyalty_flag']='new customer'

In [20]:
#5 New customers spend the most on average, followed by regular customers then loyal customers 
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
loyal customer    10.388747  1.0  99999.0
new customer      13.294370  1.0  99999.0
regular customer  12.496203  1.0  99999.0

In [22]:
#6
ords_prods_merge['avg_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\37mhu\AppData\Local\Temp\ipykernel_21680\3041545654.py:2: FutureWarning: The provided callable <function mean at 0x00000206BFC791C0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['avg_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [24]:
ords_prods_merge.loc[ords_prods_merge['avg_spend']<10,'spend_flag']='low spender'

In [25]:
ords_prods_merge.loc[ords_prods_merge['avg_spend']>=10,'spend_flag']='high spender'

In [28]:
ords_prods_merge['spend_flag'].value_counts(dropna=False)

spend_flag
low spender     31800694
high spender      635547
Name: count, dtype: int64

In [30]:
#7
ords_prods_merge['order_frequency']=ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\37mhu\AppData\Local\Temp\ipykernel_21680\3410362129.py:2: FutureWarning: The provided callable <function median at 0x00000206BFDA36A0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['order_frequency']=ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [32]:
ords_prods_merge.loc[ords_prods_merge['order_frequency']>20,'frequency_flag']='frequent customer'

In [33]:
ords_prods_merge.loc[(ords_prods_merge['order_frequency']<=20)&(ords_prods_merge['order_frequency']>10),'frequency_flag']='regular customer'

In [36]:
ords_prods_merge.loc[ords_prods_merge['order_frequency']<=10,'frequency_flag']='non-frequent customer'

In [38]:
ords_prods_merge['frequency_flag'].value_counts(dropna=False)

frequency_flag
frequent customer        21578719
regular customer          7217556
non-frequent customer     3639966
Name: count, dtype: int64

In [52]:
#9 Export df to pickle
ords_prods_merge.to_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merge_updated_flags.pkl'))

In [40]:
ords_prods_merge.columns

Index(['Unnamed: 0.1', 'Unnamed: 0_x', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'hour_order_placed', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge',
       'Unnamed: 0_y', 'product_name', 'aisle_id', 'department_id', 'prices',
       'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'avg_spend',
       'spend_flag', 'order_frequency', 'frequency_flag'],
      dtype='object')