In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [3]:
#create path
path=r'C:\Users\37mhu\Documents\Instacart Basket Analysis'

In [5]:
#import ords_prods_merge df
df_ords_prods_merge=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merge.pkl'))

In [9]:
#create df with first 1 million rows from ords_prods_merge
df=df_ords_prods_merge[:1000000]

In [13]:
df.shape

(1000000, 17)

In [15]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0_x', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'hour_order_placed', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge',
       'Unnamed: 0_y', 'product_name', 'aisle_id', 'department_id', 'prices'],
      dtype='object')

In [11]:
#create function to assign price labels
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [17]:
#create new price_range column
df['price_range']=df.apply(price_label, axis=1)

C:\Users\37mhu\AppData\Local\Temp\ipykernel_14476\2703828020.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range']=df.apply(price_label, axis=1)

In [23]:
df['price_range'].value_counts()

price_range
Mid-range product    673435
Low-range product    314087
High range            12412
Not enough data          66
Name: count, dtype: int64

In [25]:
df['prices'].max()

99999.0

In [27]:
#assign high-range product value to price range column for prices over 15
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\37mhu\AppData\Local\Temp\ipykernel_14476\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [29]:
#assign mid-range product value to price range column for prices under/equal to 15 and above 5
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [31]:
#assign low-range product value to price range column for prices under/equal 5
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [33]:
df['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     673435
Low-range product     314087
High-range product     12412
NaN                       66
Name: count, dtype: int64

In [37]:
#assign high-range product value to price range column for prices over 15
df_ords_prods_merge.loc[df_ords_prods_merge['prices']>15, 'price_range_loc']='High-range product'

In [39]:
#assign mid-range product value to price range column for prices under/equal to 15 and above 5
df_ords_prods_merge.loc[(df_ords_prods_merge['prices']<=15)&(df_ords_prods_merge['prices']>5), 'price_range_loc']='Mid-range product'

In [49]:
#assign low-range product value to price range column for prices under/equal to 5
df_ords_prods_merge.loc[df_ords_prods_merge['prices']<=5, 'price_range_loc']='Low-range product'

In [51]:
#view frequency of price range column
df_ords_prods_merge['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     21890146
Low-range product     10126384
High-range product      417682
NaN                       2029
Name: count, dtype: int64

In [53]:
#view frequency of orders_day_of_week column
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6210030
1    5666177
6    4500536
2    4218024
5    4209718
3    3844342
4    3787414
Name: count, dtype: int64

In [55]:
#create busiest day column
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [57]:
df_ords_prods_merge['busiest_day']=result

In [61]:
df_ords_prods_merge['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    22438797
Busiest day        6210030
Least busy         3787414
Name: count, dtype: int64

In [63]:
df_ords_prods_merge.shape

(32436241, 19)

In [67]:
df_ords_prods_merge.columns

Index(['Unnamed: 0.1', 'Unnamed: 0_x', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'hour_order_placed', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge',
       'Unnamed: 0_y', 'product_name', 'aisle_id', 'department_id', 'prices',
       'price_range_loc', 'busiest_day'],
      dtype='object')

#TASK STEPS

In [79]:
#2 Create busiest_days column
result2 = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0 :
    result2.append("Busiest days")
  elif value== 1:
    result2.append("Busiest days")
  elif value == 4:
    result2.append("Least busy")
  elif value == 3:
    result2.append("Least busy")  
  else:
    result2.append("Regularly busy")

In [81]:
df_ords_prods_merge['busiest_days']=result2

In [83]:
df_ords_prods_merge['busiest_days'].value_counts(dropna=False)

busiest_days
Regularly busy    12928278
Busiest days      11876207
Least busy         7631756
Name: count, dtype: int64

#3 I did not observe anything notable

In [87]:
#4 Create new column busiest_period_of_day
df_ords_prods_merge['hour_order_placed'].value_counts(dropna=False)

hour_order_placed
10    2764578
11    2738749
14    2691713
15    2664685
13    2663449
12    2620979
16    2537617
9     2456821
17    2089577
8     1720055
18    1638020
19    1259463
20     977075
7      891979
21     796400
22     634765
23     402640
6      290803
0      218968
1      115793
5       88067
2       69437
4       53287
3       51321
Name: count, dtype: int64

In [95]:
result3 = []

for value in df_ords_prods_merge["hour_order_placed"]:
  if value in (10,11,14,15,13,12,16,9) :
    result3.append("Most orders")
  elif value in (17,8,18,19,20,7,21,22):
    result3.append("Average orders")  
  else
    result3.append("Fewest orders")

In [97]:
df_ords_prods_merge['busiest_period_of_day']=result3

In [99]:
#5 Print frequency of busiest_period_of_day column
df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
Most orders       21138591
Average orders    10007334
Fewest orders      1290316
Name: count, dtype: int64

In [103]:
#7 Export df_ords_prods_merge as pickle
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_updated.pkl'))